<% include ./partials/header %>

<div class="container" id="startedPage">
    <h2>Your download has started!</h2>
    <br>
    <p>
        In the meanwhile, you can go back for more downloads <a href="/">here</a>, or feel free to connect with the Dev on <a href="http://www.github.com/utkarshraj/umusic"><i class="fab fa-github"></i> GitHub</a> for bug reports, feedback, or a cup of coffee!
        <br>
        The App is in the Beta Version, so you may find some really neat bugs in here :-)
    </p>
    <div class="container">
        <a href="/"><h4>Get More Videos!</h4></a>
    </div>
</div>

<% include ./partials/footer %>